/* so that the header elements aren't capitilised */
.slides h1, h2, h3, h4 {
    text-transform: none !important;
    font-weight: bold;
}

/* give the "text boxes" some padding either side so they dont touch the edges
and make the standard text family the same as the rest of the theme*/
.slides p {
    padding-left: 60px;
    padding-right: 60px;
    font-family: "Quicksand", sans-serif;
}

/* Move subheading lower */
#subheading {
    padding: 150px;
}

/* make all headers aligned in the top left corner */
.header {
    text-align: left;
    top: 0;
    left: 0;
    position: fixed;
}

/* remove the box shadow that shows around pre elements */
.reveal pre {
    box-shadow: none;
}

/* have to do this or bigger code blocks require scrolling */
.reveal pre code {
    max-height: initial;
    max-width: initial;
}

/* equation on slide 4E is too big */
#eq4e .MathJax_Display {
    font-size: 32px;
}