/* so that the header elements aren't capitilised */
.slides h1, h2, h3, h4 {
    text-transform: none !important;
    font-weight: bold;
}

/* give the "text boxes" some padding either side so they dont touch the edges
and make the standard text family the same as the rest of the theme*/
.slides p {
    padding-left: 60px;
    padding-right: 60px;
    font-family: "Quicksand", sans-serif;
}

.slides .lists {
    font-family: "Quicksand", sans-serif;

}

.slides .lists li {
    margin: 20px 0;
}

/* Move subheading lower */
#subheading {
    padding: 150px;
}

/* make all headers aligned in the top left corner */
.header {
    text-align: left;
    top: 0;
    left: 0;
    position: fixed;
    padding-bottom: 10px;
}

/* remove the box shadow that shows around pre elements */
.reveal pre {
    box-shadow: none;
}

/* have to do this or bigger code blocks require scrolling */
.reveal pre code {
    max-height: initial;
    max-width: initial;
}

/* equation on slide 4E is too big */
#eq4e .MathJax_Display {
    font-size: 32px;
}

/*make the dives sit side by side on the HMM profile slides*/
.hmm_wrap {
    width:100%;
    margin:0 auto;
}
.hmm {
    float:left;
    width:48%;
    margin:0 auto;
}

.hmm p {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

/*align equations to the left and shrink font*/
#transition_equations .MathJax_Display .MathJax .math {
    font-size: 26px;
    text-align: left;
}

#emission_equations .MathJax_Display .MathJax .math {
    font-size: 30px;
    text-align: left;
}

/*box shadow for analysis workflow image*/
#analysis_workflow {
    border: none;
    -webkit-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 25px 2px rgba(0,0,0,0.5);
}

/* styling the variant calling image */
#variant_img {
    height: 550px;
    bottom: 50px;
    position: fixed;
    text-align: center;
    left: 25%;
}

#variant_img img {
    border: none;
    -webkit-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 25px 2px rgba(0,0,0,0.5);
}

/* styling the methylation position image*/
#meth_pos {
    border: none;
    -webkit-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 25px 2px rgba(0,0,0,0.5);
    height: 550px;
    bottom: 50px;
    position: fixed;
    text-align: center;
    left: 25%;
}

/*styling the methylation haplotype image*/
#meth_hap {
    border: none;
    -webkit-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 25px 6px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 25px 2px rgba(0,0,0,0.5);
}